/*The first two lines imports the Bulma framework into the HTML.*/
/*The import command should be commented depending on who's working on the styling. This needs a permanent solution.*/
@charset "utf-8";
/*@import "C:/Users/Ayush/Documents/GitHub/niryamana/WebContent/bulma/bulma.sass";*/
@import "C:/Users/Anurag/Dropbox/My Documents/My Works/Mein Web-dev Projects/niryamana/WebContent/node_modules/bulma/bulma.sass";

content{
	text-align: center;
	font-size: 1.4em;
	min-height: 100%;
}

.content{
	padding: 1.2em;
	text-align: center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1.1em;

	input{
		min-width: 35%;
		max-height: 15%;
	}

	button{
		min-width: 15%;
		margin: .5em;
		font-size: 0.8em;
		background-color: #d6d6c2;
		border-radius: .6em;
	}
}