/*The first two lines imports the Bulma framework into the HTML.*/
/*The import command should be commented depending on who's working on the styling. This needs a permanent solution.*/
@charset "utf-8";
/*@import "C:/Users/Ayush/Documents/GitHub/niryamana/WebContent/bulma/bulma.sass";*/
@import "C:/Users/Anurag/Dropbox/My Documents/My Works/Mein Web-dev Projects/niryamana/WebContent/node_modules/bulma/bulma.sass";

.sidenav{
	background-color: #1a8ee0;
	text-align: center;
	min-height: 100%;

	a{
		padding: 0.6em;
		text-decoration: none;
		font-size: 1.2em;
		color: #ffffff;
		display: block;

		&:hover{
			background-color: #c1cfda;
			color: #000000;
		}
	}
}

.card{
	margin: 0.3em;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1em;
}